<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="firstname">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname Error</div>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastMame}">Lastname Error</div>
    <br/>
    <label for="lastname">Enter year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year Error</div>
    <br/>

    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<a href="/people">home</a>

</body>
</html>