<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<label for="id">ID</label>
<p th:text="${person.getId}" id="id">Value</p>
<hr>
<label for="firstname">Firstname</label>
<p th:text="${person.getFirstName}" id="firstname">Value</p>
<hr>
<label for="lastname">Lastname</label>
<p th:text="${person.getLastName}" id="lastname">Value</p>
<hr>
<label for="email">Email</label>
<p th:text="${person.getEmail}" id="email">Value</p>
<hr>
<label for="mood">Mood</label>
<p th:text="${person.getMood}" id="mood">Value</p>
<hr>
<label for="date_of_birth">Date of Birth</label>
<p th:text="${person.dateOfBirth}" id="date_of_birth">Value</p>
<hr>
<label for="created_date">Created Date</label>
<p th:text="${person.createdAt}" id="created_date">Value</p>
<hr>
<hr>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr>
            <td>
                <a th:href="@{/book/{id}(id=${book.getId()})}">
                    <span th:text="${book.getTitle} + ',   ' + ${book.getAuthor}"
                          th:style="${book.isExpired()} ? 'color : red' : 'color:black'">
                        book
                    </span>
                </a>

            </td>
        </tr>
    </table>


</div>
<br>
<hr>
<a href="/people">All People</a>


</body>
</html>